<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <container name="defaultContainer">
    <register type="System.Data.Entity.DbContext,EntityFramework" mapTo="NGnono.FMNote.Datas.Models.NGnono_FMNoteContext,NGnono.FMNote.Datas">
      <constructor>
        <param name="nameOrConnectionString" value="Name=NGnono_FMNoteContext" />
        <!--<param name="product" value ="true"/>-->
      </constructor>
      <lifetime type="HierarchicalLifetimeManager"/>
    </register>
  </container>
</unity>